.about-us {
  @include fix-width-center ();
  margin-bottom: 56px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat no-repeat;
  background-size: 320px auto;
}

.about-us__title {
  margin: 0;
  padding: 0;
  padding-left: 28px;
  padding-top: 33px;
  margin-bottom: 86px;

  @include font($size: 25px, $line-height: 30px, $color: $black,  $weight: bold);
}

.about-us__list {
  width: 250px;

  @include list-reset();
  padding-left: 29px;

  @include font($size: 17px, $line-height: 20px, $color: $black,  $weight: bold);
}

.about-us__item {
  position: relative;

  margin-bottom: 83px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
  }

  &--flower::before {
    top: -55px;
    left: 9px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    top: -53px;
    left: 1px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart::before {
    top: -49px;
    left: 9px;

    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--knitting::before {
    top: -51px;
    left: 4px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    top: -51px;
    left: -5px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    top: -52px;
    left: 4px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    @include fix-width-center ($width: 768px);
    margin-bottom: 85px;

    background-size: 768px auto;
  }

  .about-us__title {
    padding-top: 65px;
    padding-left: 46px;
    margin-bottom: 103px;

    font-size: 43px;
    line-height: 50px;
  }


  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    padding-left: 50px;

    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 334px;
    margin-bottom: 111px;

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
      margin-bottom: 0;
    }

    &--knitting {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--present {
      order: 6;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    @include fix-width-center ($width: 1050px);
    margin-bottom: 89px;

    background-position: 26px 0;
    background-size: 1050px auto;
  }

  .about-us__title {
    padding-left: 172px;
    padding-top: 82px;

    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    width: 700px;
    padding-left: 176px;
  }

  .about-us__item {
    width: 350px;
  }
}
