.catalog__list {
  list-style: none;
}

.catalog__item__link {
  @include font($weight: 700, $color: $black);
  text-decoration: none;

  background-color: $color-main;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus,
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
