.contacts__title {
  @include font($size: 18px, $line-height: 30px, $color: $black,  $weight: 700);
}

.contacts__list {
  margin: 0;
  padding: 0;

  line-height: 30px;
}

.contacts__item {
  margin: 0;
  padding: 0;
  width: 260px;
}
