.fieldset {
  width: 260px;
  margin: 0;
  padding: 0;

  border: none;
}

.fieldset__legend {
  @include font(17px, 16px, 700, $color-third);
  text-transform: uppercase;
}

.fieldset__list {
  @include list-reset();
}

.fieldset__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
}

.fieldset__input,
.fieldset__textarea {
  width: 260px;

  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $gray-light;

  border: none;
  border-bottom: 2px solid $black;
  background-color: $color-main;
  outline: none;

  &:hover {
    border-bottom: 2px solid $color-third;
  }

  &:focus,
  &:active {
    color: $gray;

    border-bottom: 2px solid $color-third;
  }
}

.fieldset__textarea {
  border: 2px solid $gray;

  &:hover {
    border: 2px solid $color-third;
  }

  &:focus,
  &:active {
    color: $gray;

    border: 2px solid $color-third;
  }
}

@media (max-width: $mobile-width-only) {
  .fieldset__legend {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 8px;
      left: 62px;

      width: 200px;
      height: 1px;

      background-color: $color-third;
    }
  }
}

@media (min-width: $tablet-width) {
  .fieldset {
    width: 668px;
    display: flex;
    justify-content: space-between;
  }

  .fieldset__legend {
    width: 160px;
  }

  .fieldset__list {
    width: 500px;
  }

  .fieldset__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .fieldset {
    width: 1050px;
  }

  .fieldset__legend {
    width: 175px;
  }

  .fieldset__list {
    width: 875px;
  }

  .fieldset__wrapper {
    width: 700px;
    margin-left: 175px;
    margin-right: 175px;
  }
}
