.page-footer__wrapper {
  @include fix-width-center();

  background-color: $color-secondary;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  @include fix-width-center(260px);
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include fix-width-center(768px);
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    @include fix-width-center(768px);
  }

  .page-footer__logo {
    display: block;
    width: 200px;
    margin: 0;
    margin-top: 52px;
    margin-left: 50px;
  }

  .page-footer__social {
    width: 200px;
    margin: 0;
  }

  .page-footer__copyright {
    width: 200px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include fix-width-center(1150px);
    margin-top: 0;
    padding-top: 16px;

    background-color: $color-secondary;
  }

  .page-footer__wrapper {
    @include fix-width-center(1050px);
  }

  .page-footer__logo {
    margin-top: 33px;
    margin-left: 0;
  }
}
