.page-main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-main__intro {
  @include fix-width-center(260px);
  margin-bottom: 24px;

  font-size: 13px;
}

.page-main__catalog {
  @include fix-width-center(260px);
}

@media (min-width: $tablet-width) {
  .page-main__catalog {
    @include fix-width-center(668px);
  }

  .page-main__intro {
    width: 100%;
    box-sizing: border-box;
    margin-top: -50px;
    margin-bottom: 9px;
    padding-top: 84px;
    padding-right: 50px;
    padding-left: 50px;

    font-size: 17px;
    line-height: 30px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat no-repeat;
    background-origin: border-box;
    background-size: 768px auto;
    background-position: 0 0;
  }

  .page-main__intro__content {
    @include fix-width-center(668px);
  }
}

@media (min-width: $desktop-width) {
  .page-main__catalog {
    width: 1150px;
  }

  .page-main__intro {
    padding-left: 224px;
    padding-right: 224px;
    padding-top: 138px;

    background-size: 1150px auto;
  }

  .page-main__intro__content {
    margin-left: 0;
    width: 680px;
  }
}
