.popular-product__list {
  list-style: none;
}

.popular-product__item {
  display: inline-block;

  @include font($size: 20px, $line-height:30px, $color: $color-main,  $weight: 700);

  text-decoration: none;

  background-color: $color-third;

  &:hover {
    background-color: $color-third-light;
  }

  &:focus,
  &:active {
    color: $color-main-dark;
    background-color: $color-third-light;
  }

  &--darker-color {
    background-color: $color-third-dark;

    &:hover {
      background-color: $color-third-darken;
    }

    &:focus,
    &:active {
      color: $color-main-dark;
      background-color: $color-third-darken;
    }
  }
}
