.popular-product {
  @include fix-width-center();
  margin-bottom: 25px;
}

.popular-product__list {
  display: flex;
  flex-direction: column;

  @include list-reset();
}

.popular-product__item {
  a {
    position: relative;

    display: block;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 121px;
    min-height: 78px;

    @include font($size: 19px, $line-height: 24px, $color: $color-main, $weight: bold);
    text-decoration: none;

    background-color: $color-third;

    &:hover {
      background-color: $color-third-light;

      &::after {
        opacity: 0.5;
      }
    }

    &:focus,
    &:active {
      color: $color-main-dark;
      background-color: $color-third-light;

      &::after {
        opacity: 0.3;
      }
    }
  }

  &--darker-color a {
    background-color: $color-third-dark;

    &:hover {
      background-color: $color-third-darken;
    }

    &:focus,
    &:active {
      color: $color-main-dark;
      background-color: $color-third-darken;
    }
  }
}

.popular-product__item--interior a {
  &::after {
    content: "";

    position: absolute;
    width: 40px;
    height: 62px;

    top: 23px;
    right: 36px;

    opacity: 0.5;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
  }
}

.popular-product__item--toy a {
  &::after {
    content: "";

    position: absolute;
    width: 60px;
    height: 60px;

    top: 21px;
    right: 28px;

    opacity: 0.5;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .popular-product {
    @include fix-width-center(668px);
    margin-top: -56px;
  }

  .popular-product__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-product__item {
    width: 334px;
  }

  .popular-product__item a {
    min-height: 88px;
    padding-top: 30px;
    padding-left: 36px;
    padding-right: 298px;

    line-height: 30px;

    &:hover {
      position: relative;

      padding-top: 25px;

      transform: translateY(-5px);
    }
  }

  .popular-product__item--interior a {
    &::after {
      top: 30px;
    }
  }

  .popular-product__item--toy a {
    &::after {
      top: 34px;
      right: 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .popular-product {
    @include fix-width-center(1050px);
    margin-top: -129px;
  }

  .popular-product__item {
    width: 525px;

    a {
      padding-right: 312px;
    }
  }
}
