.popular-product {
  @include fix-width-center();
}

.popular-product__list {
  display: flex;
  flex-direction: column;

  @include list-reset();
}

.popular-product__item {
  a {
    display: block;
    min-height: 105px;

    @include font($size: 19px, $line-height: 30px, $color: $color-main, $weight: 700);
    text-decoration: none;

    background-color: $color-third;
  }

  a:hover {
    background-color: $color-third-light;
  }

  a:focus,
  a:active {
    color: $color-main-dark;
    background-color: $color-third-light;
  }

  &--darker-color a {
    background-color: $color-third-dark;

    &:hover {
      background-color: $color-third-darken;
    }

    &:focus,
    &:active {
      color: $color-main-dark;
      background-color: $color-third-darken;
    }
  }
}

@media (min-width: $tablet-width) {
  .popular-product {
    @include fix-width-center(668px);
    margin-top: -100px;
  }

  .popular-product__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-product__item {
    width: 334px;
  }
}

