.review {
  @include fix-width-center ($width: 260px);
}

.review__title {
  @include font($size: 25px, $line-height: 30px, $color: $black,  $weight: 700);
}

.review__list {
  @include list-reset ();

  line-height: 30px;
}

.review__author-name {
  font-size: 17px;
  font-weight: 700;
  color: $black;
}

.review__author-nik {
  font-size: 17px;
  line-height: 30px;
}
