.site-list {
  order: 2;

  @include fix-width-center(320px);
}

.site-list a {
  display: block;
  padding-left: 76px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 29px;

  @include font($size: 17px, $color: $black,  $weight: 700);
  text-decoration: none;

  border-bottom: 1px solid $color-divider;
}

.site-list a[href] {
  &:hover {
    color: $gray-darken;
  }

  &:focus,
  &:active {
    color: $gray-dark;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    order: 2;
    width: 320px;
  }

  .site-list a {
    margin: 0;
    padding-top: 17px;
    padding-left: 38px;
    padding-right: 0;

    font-size: 15px;
    font-weight: bold;

    border: none;
  }

  .site-list__item:nth-child(1) a {
    padding-left: 47px;

    border-left: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 1;
    width: 300px;

    background-color: $color-main;
  }

  .site-list a {
    padding-right: 38px;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 17px;

    border-bottom: none;
    border-left: 1px solid $color-secondary;
  }

  .site-list__item:nth-child(2) a {
    padding-left: 34px;
    padding-right: 5px;
  }
}
