.site-list {
  order: 2;
}

.site-list__item {
  border-bottom: 1px solid $color-secondary;
}

.site-list__item a {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;

  @include font($size: 17px, $color: $black,  $weight: 700);

  text-decoration: none;

  &:hover {
    color: $gray-darken;
  }

  &:focus,
  &:active {
    color: $gray-dark;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    order: 2;
    width: 334px;
  }

  .site-list__item {
    padding-right: 33px;

    border: none;
  }

  .site-list__item a {
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    order: 1;
    width: 400px;
  }

  .site-list__item {
    background-color: $color-main;
  }

  .site-list__item a {
    font-size: 17px;
  }
}
