.social {
  display: flex;
  justify-content: center;

  @include fix-width-center (260px);
  padding-top: 22px;
  padding-bottom: 21px;

  border-bottom: 1px solid $color-divider;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include fix-width-center (146px);
  @include list-reset();
}

.social-link {
  display: block;

  &:hover svg {
      fill: $color-third-darken;
  }

  &:focus svg,
  &:active svg {
      fill: $color-third-lighten;
  }

  &--instagram {
    padding-top: 7px;
  }

  &--facebook {
    padding-top: 2px;
  }

  &--twitter {
    padding-right: 5px;
    padding-top: 5px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 60px;
    margin-bottom: 56px;
    margin-right: 56px;
    padding: 0;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-left: 51px;
    margin-top: 39px;
  }
}
