.user-list {
  order: 3;
}

.user-list a {
  position: relative;

  display: block;
  padding-left: 76px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 29px;

  @include font($size: 17px, $color: $black,  $weight: bold);
  text-decoration: none;

  border-bottom: 1px solid $color-secondary;
}

.user-list a[href] {
  &:hover {
    color: $gray-darken;
  }

  &:focus,
  &:active {
    color: $gray-dark;
  }

  &:hover .user-list__search-icon,
  &:hover .user-list__cart-icon {
    fill: $color-third;
  }

  &:focus .user-list__search-icon,
  &:active .user-list__search-icon,
  &:focus .user-list__cart-icon,
  &:active .user-list__cart-icon {
    fill: $color-third-lighten;
  }
}

.user-list__search-icon {
  position: absolute;
  top: 31px;
  left: 33px;

  width: 18px;
  height: 18px;

  fill: $color-secondary;
}

.user-list__cart-icon {
  position: absolute;
  top: 28px;
  left: 31px;

  width: 21px;
  height: 19px;

  fill: $color-secondary;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
    width: 400px;
  }

  .user-list a {
    display: block;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    border-left: 1px solid $color-secondary;
  }

  .user-list__item {
    box-sizing: border-box;
  }

  .user-list__item .user-list__search {
    width: 84px;
    padding-left: 0;
    padding-right: 0;
    font-size: 0;
  }

  .user-list__search-icon {
    top: 36px;
  }

  .user-list__item .user-list__cart {
    width: 315px;
    padding-left: 82px;
  }

  .user-list__cart-icon {
    top: 34px;
    left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    order: 3;
    width: 400px;

    background-color: $color-main;
  }
}
