.user-list__item {
  @include font($size: 17px, $color: #000000,  $weight: 700);
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus,
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
