@mixin font($size: 15px, $line-height: 24px, $weight: normal, $color: $gray, $family: "Open Sans") {
  font-family: $family, "Arial", sans-serif;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

//блок фиксированной ширины расположенный по центру
@mixin fix-width-center ($width: 320px) {
  width: $width;
  margin: 0 auto;
}

