$color-main: #ffffff; //основной цвет
$color-main-light: rgba(255, 255, 255, 0.9);
$color-main-dark: rgba(255, 255, 255, 0.3);
$color-secondary: #f1f1f1; //дополнительный цвет
$color-divider: #e5e5e5; //цвет разделительных линий
$color-third-lighten: rgba(99, 209, 187, 0.2);
$color-third: #63d1bb; //второй дополнительный цвет
$color-third-light: #59d5bc;
$color-third-more-lighten: #bde3dd;
$color-third-dark: #56c3b2;
$color-third-darken: #46c1ae;

$black: #000000;
$gray-darken: rgba(0, 0, 0, 0.6);
$gray-dark: rgba(0, 0, 0, 0.3);
$gray-light: rgba(68, 68, 68, 0.3);
$gray-lighten: #f9f9f9;
$gray: #444444;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
